In [ ]:
Drop table if EXISTS #Szerevezet
Create TABLE #Szervezet
(
    Szint HIERARCHYID,
    Beosztas NVARCHAR(100)
)
INSERT into #Szervezet VALUES('/1/','vezérigazgató')
INSERT into #Szervezet VALUES('/1/1/','marketing igazgató')
INSERT into #Szervezet VALUES('/1/2/','pénzügyi igazgató')
INSERT into #Szervezet VALUES('/1/3/','ügyvezető igazgató')
INSERT into #Szervezet VALUES('/1/1/1/','marketing osztály')
INSERT into #Szervezet VALUES('/1/2/1/','pánzügyi osztály')
INSERT into #Szervezet VALUes('/1/3/1/','termelési osztály')

Select CAST(szint as nvarchar(100)),
        Beosztas
From #Szervezet

In [1]:
DECLARE @k GEOGRAPHY
set @k = GEOGRAPHY::STGeomFromText('Point(46.90616 19.69128)', 4236)

DECLARE @sz GEOGRAPHY
set @sz = GEOGRAPHY::STGeomFromText('Point(47.186 18.4221)', 4236)

SELECT @k.STDistance(@sz)

(No column name)
143545.81627163012

In [ ]:
DECLARE @js NVARCHAR(1000)= N'[

    {"name":"Shyam", "email":"shyamjaiswal@gmail.com"},

    {"name":"Bob", "email":"bob32@gmail.com"},  

    {"name":"Jai", "email":"jai87@gmail.com"}  

  ]'
  Select *from OPENJSON(@js)
  WITH
  (
name NVARCHAR(100) '$.name',
email NVARCHAR(100) '$.email'
  )

In [ ]:
with cte_atlag AS
(
    SELECT avg(DATEDIFF(day,METTOL,Meddig)) AS 'átlag' from Foglalas
)
SELECT FOGLALAS_PK,
       METTOL,
       MEDDIG
FROM Foglalas
WHERE DATEDIFF(day, METTOL, MEDDIG) >
(
  SELECT átlag 
  FROM cte_atlag
)

In [ ]:
SELECT 'db' AS 'db szám csillagokként', [1], [2], [3], [4], [5]

FROM (
SELECT Szallas_ID, CSILLAGOK_SZAMA FROM
Szallashely
) AS fh
PIVOT
(
COUNT(szallas_id) --aggregálás
FOR csillagok_szama in ([1], [2], [3], [4], [5])
)
AS pivottabla

In [2]:
DECLARE @datum date='2016-04-10'
DECLARE  @sql NVARCHAR(1000)
set @sql = N'Select * From Fogalalas Where METTOL='''+ Cast(@datum as nvarchar(10))+ ''''
Print @sql
Exec (@sql)

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Fogalalas'.

In [ ]:
DECLARE @id NVARCHAR(100)
DECLARE @nev NVARCHAR(100)
DECLARE k CURSOR FOR
Select SZALLAS_ID,SZALLAS_NEV from Szallashely
OPEN k 
FETCH NEXT from k into @id, @nev
while @@FETCH_STATUS =0
BEGIN
print  @id  + ',' + @nev
FETCH NEXT from k into @id, @nev
END
close k 
DEALLOCATE k