In [1]:
Declare @xml XML
SET @xml =N'
<CustomersOrders>
 <Customer custid="1">
 <!-- Comment 111 -->
 <companyname>Customer NRZBB</companyname>
 <Order orderid="10692">
 <orderdate>2007-10-03T00:00:00</orderdate>
 </Order>
 <Order orderid="10702">
 <orderdate>2007-10-13T00:00:00</orderdate>
 </Order>
 <Order orderid="10952">
 <orderdate>2008-03-16T00:00:00</orderdate>
 </Order>
 </Customer>
 <Customer custid="2">
 <!-- Comment 222 --> 
 <companyname>Customer MLTDN</companyname>
 <Order orderid="10308">
 <orderdate>2006-09-18T00:00:00</orderdate>
 </Order>
 <Order orderid="10952">
 <orderdate>2008-03-04T00:00:00</orderdate>
 </Order>
 </Customer>
</CustomersOrders>'

Select @xml.query('/CustomersOrders/Customer/Order')

(No column name)
"<Order orderid=""10692""><orderdate>2007-10-03T00:00:00</orderdate></Order><Order orderid=""10702""><orderdate>2007-10-13T00:00:00</orderdate></Order><Order orderid=""10952""><orderdate>2008-03-16T00:00:00</orderdate></Order><Order orderid=""10308""><orderdate>2006-09-18T00:00:00</orderdate></Order><Order orderid=""10952""><orderdate>2008-03-04T00:00:00</orderdate></Order>"